<div class="container my-5">
    <h1 class="text-center">Авторизация</h1>
    <div class="col-sm-4 mx-auto">
        <form action="/login" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="pass" placeholder="Пароль">
            </div>
            <div class="mb-3">
                <input type="submit" class="form-control btn btn-primary" value="Войти">
            </div>
        </form>
    </div>
</div>